.filter-menu-item {
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: hsl(var(--foreground));
    position: relative;
    border-radius: var(--normal-radius);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: .3rem;
    height: max-content;
    min-height: max-content;
    width: 100%;
    min-width: max-content;
    transition: all 0.3s ease;
}

.filter-menu-item:hover {
    background-color: hsl(var(--accent));
  }
  
.entity-item-menu-visible {
    opacity: 1;
    visibility: visible;
}

.filter-menu-container {
    display: flex;
    flex-direction: column;
    color: hsl(var(--foreground));
    align-items: flex-start;
    gap: .05rem;
    padding: .3rem;
    box-sizing: border-box;
    width: max-content;
    min-width: 200px;
    width: min-content;
    height: max-content;
    max-height: 80vh;
  }

  .disabled{
    opacity: .5;
    pointer-events: none;
  }

.menu-divider{
width: 96%;
border-bottom: 1px solid hsl(var(--border));
opacity: .1;
} 